doctype html
html(lang='en')
  head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Dashboard
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,700')
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Oswald:400,700')
      link(rel='stylesheet', href='css/main.css')
  body#body
    header.header
      h1
        span Cuqui
        span Dashboard
      #user_info.current_user
    #dashboard
      .row
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='js/main.dist.js')